<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Vuetify -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Style -->
      <link rel="stylesheet" href="{{  url_for('static',filename='css/style.css') }}">
  </head>
  <body>
    
    <div id="app">
    <v-app>

        <v-app-bar
            absolute
            flat
            color="deep-purple accent-4"
            dark
        >
            <v-app-bar-nav-icon></v-app-bar-nav-icon>

            <v-toolbar-title>Registry</v-toolbar-title>

            <v-spacer></v-spacer>
        </v-app-bar>

        <v-main class="mt-15 " >
            {% if message %}
                <v-container class="mx-auto my-12 px-10 rounded-xl" >
                    <v-alert
                            dense
                            outlined
                            type="error"
                    >
                        {{ message }}
                    </v-alert>
                </v-container>
            {% endif %}
            <v-card 
                class="mx-auto my-12 px-10 rounded-xl" 
                max-width="500"
            >
                <v-form
                    v-model="valid"
                    id="check-registry-form"
                    action="/registry"
                    method="POST"
                >
                    <v-container>
                        <v-text-field
                            v-model="lastName"
                            :rules="nameRules"
                            :counter="10"
                            label="Last name"
                            name="lastname"
                            required
                        ></v-text-field>

                        <v-text-field
                            v-model="firstName"
                            :rules="nameRules"
                            :counter="10"
                            label="First name"
                            name="firstname"
                            required
                        ></v-text-field>
                        <v-text-field
                            v-model="email"
                            :rules="emailRules"
                            label="E-mail"
                            name="email"
                            required
                        ></v-text-field>
                        <v-text-field
                            v-model="password"
                            :append-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="showPwd ? 'text' : 'password'"
                            label="Password"
                            :rules="passwordRules"
                            name="password"
                            counter
                            required
                            @click:append="showPwd = !showPwd"
                        ></v-text-field>
                        <v-text-field
                            v-model="confirmPwd"
                            :append-icon="showConfirmPwd ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="showConfirmPwd ? 'text' : 'password'"
                            label="Confirm Password"
                            :rules="[passwordRules,(this.confirmPwd === this.password) || 'Password and confirm password must be same.']"
                            counter
                            required
                            @click:append="showConfirmPwd = !showConfirmPwd"
                        ></v-text-field>
                        <v-container class="d-flex justify-space-between my-6">
                            <v-checkbox
                                v-model="checkbox"
                                required
                                :rules="checkboxRules"
                            >
                                <template v-slot:label>
                                    <div :class="checkbox ? 'primary--text' : ''">Do you agree ?</div>
                                </template></v-checkbox>
                        </v-container>
                    </v-container>

                    
                </v-form>
                <v-container class="d-flex justify-center">
                    <v-btn
                        max-width="50%"
                        :disabled="!valid"
                        class="btn-grad"
                        type="submit"
                        form="check-registry-form"
                    >
                        Registry
                    </v-btn>
                   
                </v-container>
                <v-container class="d-flex justify-begin my-6">
                    <div class="grey--text">Already have an account ? <a href="/login">Sign In </a></div>
                </v-container>
            </v-card>
        </v-main>
    </v-app>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="{{  url_for('static',filename='js/vue.js') }}"></script>
  </body>
</html>